.error-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px 0;
}
.error-wrap h2{
    font-size: 154px;
    color: black;
    font-weight: 900;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 10px;
}
.error-wrap a.btn {
    display: inline-table;
    margin-top: 10px;
    background: #384F95;
    color:white
}
